In [190]:
import numpy as np
import pandas as pd

In [191]:
dataset_path = './drive/MyDrive/Colab Notebooks/itv/dataset/'

In [192]:
import os

os.listdir(dataset_path)

['cards.csv',
 'card_actors.csv',
 'card_countries.csv',
 'card_directors.csv',
 'card_genres.csv',
 'card_producers.csv',
 'card_scenarists.csv',
 'countries.csv',
 'genres.csv',
 'people.csv',
 '.ipynb_checkpoints',
 'tfidf_matrix.pkl',
 'movie_list.pkl']

In [193]:
people = pd.read_csv(f'{dataset_path}people.csv')
people.head(2)

,id,photo_id,name,gender,dbd,country_id,created_at,updated_at
0,1,6738.0,Сарик Андреасян,NaN,NaN,NaN,2019-01-02 16:20:52,2023-04-04 02:43:45
1,2,1373.0,Владимир Зеленский,NaN,NaN,NaN,2019-01-02 16:20:52,2023-04-04 02:43:45

In [194]:
def group_elements(data, columns):
  return data.groupby(columns).agg(lambda x: list(x))

In [195]:
def merge_elements(data_left, data_right, column_left, column_right):
  return data_left.merge(data_right, left_on=column_left, right_on=column_right)

In [196]:
def collapse(data):
    items = []
    for i in data:
        items.append(i.replace(" ",""))
    return items

In [197]:
card_actors = pd.read_csv(f'{dataset_path}card_actors.csv')

card_actors = merge_elements(card_actors, people, 'person_id', 'id')[['content_id', 'person_id', 'name']]
card_actors.head()

   content_id  person_id          name
0           1       4192  Деннис Куэйд
1         542       4192  Деннис Куэйд
2         656       4192  Деннис Куэйд
3         684       4192  Деннис Куэйд
4        1543       4192  Деннис Куэйд

In [198]:
card_directors = pd.read_csv(f'{dataset_path}card_directors.csv')

card_directors = merge_elements(card_directors, people, 'person_id', 'id')[['content_id', 'person_id', 'name']]
card_directors.head()

   content_id  person_id              name
0           1      17496  Габриэле Муччино
1        1401      17496  Габриэле Муччино
2       11055      17496  Габриэле Муччино
3       43358      17496  Габриэле Муччино
4           2      24731     Виктор Гарсия

In [199]:
card_producers = pd.read_csv(f'{dataset_path}card_producers.csv')

card_producers = merge_elements(card_producers, people, 'person_id', 'id')[['content_id', 'person_id', 'name']]
card_producers.head()

   content_id  person_id            name
0           1       4200  Джерард Батлер
1        3414       4200  Джерард Батлер
2        8688       4200  Джерард Батлер
3       11361       4200  Джерард Батлер
4       13699       4200  Джерард Батлер

In [200]:
card_scenarists = pd.read_csv(f'{dataset_path}card_scenarists.csv')

card_scenarists = merge_elements(card_scenarists, people, 'person_id', 'id')[['content_id', 'person_id', 'name']]
card_scenarists.head()

   content_id  person_id        name
0           1      27111  Робби Фокс
1       77849      27111  Робби Фокс
2           2      19867   Робб Уайт
3        1641      19867   Робб Уайт
4        3068      19867   Робб Уайт

In [201]:
card_actors = group_elements(card_actors, ['content_id'])
card_directors = group_elements(card_directors, ['content_id'])
card_producers = group_elements(card_producers, ['content_id'])
card_scenarists = group_elements(card_scenarists, ['content_id'])

In [202]:
card_actors.head(3)

,person_id,name
content_id,,
1,"[4192, 4200, 838, 11421, 7753, 1295, 27113, 27...","[Деннис Куэйд, Джерард Батлер, Джессика Бил, Д..."
2,"[8017, 20677, 13715, 8537, 4284, 10581, 17152,...","[Аманда Ри, Джил Колирин, Том Райли, Эндрю Ли ..."
3,"[2543, 14495, 2590, 1117, 1510, 6786, 2317, 29...","[Вуди Харрельсон, Желько Иванек, Колин Фаррелл..."

In [203]:
card_directors.head(3)

           person_id                name
content_id
1            [17496]  [Габриэле Муччино]
2            [24731]     [Виктор Гарсия]
3            [25960]    [Мартин МакДона]

In [204]:
card_producers.head(3)

,person_id,name
content_id,,
1,"[4200, 6587, 27112]","[Джерард Батлер, Кевин Мишер, Хайди Джо Маркел]"
2,"[20041, 27118, 27119]","[Стив Ричардс, Эрик Олсен, Роуи Шэрон]"
3,"[20253, 21940, 25960]","[Грэхэм Броадбент, Питер Чернин, Мартин МакДона]"

In [205]:
card_scenarists.head(3)

                 person_id                       name
content_id
1                  [27111]               [Робби Фокс]
2           [19867, 27117]  [Робб Уайт, Уильям Масса]
3                  [25960]           [Мартин МакДона]

In [206]:
genres = pd.read_csv(f'{dataset_path}genres.csv')
genres.head(5)

   id   identify  priority           created_at           updated_at
0   0  Все жанры         0  2019-01-02 16:19:24  2023-02-08 02:32:23
1   1      Аниме        33  2019-01-02 16:19:24  2023-02-08 02:32:41
2   2  Биография        37  2019-01-02 16:19:24  2023-02-08 02:32:44
3   3     Боевик        39  2019-01-02 16:19:24  2023-02-08 02:32:45
4   4    Вестерн        43  2019-01-02 16:19:24  2023-02-08 02:32:48

In [207]:
card_genres = pd.read_csv(f'{dataset_path}card_genres.csv')

card_genres = merge_elements(card_genres, genres, 'genre_id', 'id')[['content_id', 'genre_id', 'identify']]
card_genres.head()

   content_id  genre_id identify
0           1        12  Комедия
1           3        12  Комедия
2          10        12  Комедия
3          11        12  Комедия
4          16        12  Комедия

In [208]:
card_genres = group_elements(card_genres, ['content_id'])
# card_countries = group_elements(card_countries, ['content_id'])

In [209]:
card_genres.head(3)

            genre_id              identify
content_id
1           [12, 15]  [Комедия, Мелодрама]
2           [30, 31]      [Триллер, Ужасы]
3           [12, 14]   [Комедия, Криминал]

In [210]:
# card_countries.head(3)

In [211]:
card_actors['actors'] = card_actors['name']
card_directors['directors'] = card_directors['name']
card_producers['producers'] = card_producers['name']
card_scenarists['scenarists'] = card_scenarists['name']

In [212]:
card_actors.drop(['person_id', 'name'], axis=1, inplace=True)
card_directors.drop(['person_id', 'name'],axis=1, inplace=True)
card_producers.drop(['person_id', 'name'], axis=1, inplace=True)
card_scenarists.drop(['person_id', 'name'], axis=1, inplace=True)

In [213]:
cards = pd.read_csv(f'{dataset_path}cards.csv')

In [214]:
cards = merge_elements(cards, card_actors, 'id', 'content_id')
cards = merge_elements(cards, card_directors, 'id', 'content_id')
cards = merge_elements(cards, card_producers, 'id', 'content_id')
cards = merge_elements(cards, card_scenarists, 'id', 'content_id')

In [215]:
cards = cards[['id', 'module_id', 'payment_module', 'title', 'title_eng', 'description', 'tasix', 'vpn', 'actors', 'directors', 'producers', 'scenarists']]

In [216]:
cards.head(3)

,id,module_id,payment_module,title,title_eng,description,tasix,vpn,actors,directors,producers,scenarists
0,512,2,20,Скала,The Rock,Генерал элитных диверсионных спецсил США Френс...,1,0,"[Николас Кейдж, Дэвид Морс, Ванесса Марсил, Гр...",[Майкл Бэй],"[Джерри Брукхаймер, Кенни Бейтс, Шон Коннери]","[Дуглас Кук, Дэвид Уайсберг, Марк Роснер]"
1,768,2,20,Южный Парк: Воображляндия,South Park: Imaginationland,<p>Парней из Южного Парка отправляют в волшебн...,1,0,"[Джонатан Киммел, Кайл Маккаллок, Кэтрин Хауэл...",[Трей Паркер],"[Пэм Брэйди, Эдриан Бирд, Эрик Стоф]","[Мэтт Стоун, Трей Паркер]"
2,1024,2,20,Ронин,Ronin,"<p>Хотя холодная война давно закончена, тайные...",1,0,"[Шон Бин, Роберт Де Ниро, Джонатан Прайс, Жан ...",[Джон Франкенхаймер],"[Пол Келменсон, Фрэнк Манкузо мл, Этель Уинант]","[Дэвид Мэмет, Дж. Д. Зайк]"

In [217]:
card_genres['genres'] = card_genres['identify']

card_genres.drop(['genre_id', 'identify'], axis=1, inplace=True)

In [218]:
card_genres.head(3)

                          genres
content_id
1           [Комедия, Мелодрама]
2               [Триллер, Ужасы]
3            [Комедия, Криминал]

In [219]:
cards = merge_elements(cards, card_genres, 'id', 'content_id')

In [220]:
cards.head(5)

,id,module_id,payment_module,title,title_eng,description,tasix,vpn,actors,directors,producers,scenarists,genres
0,512,2,20,Скала,The Rock,Генерал элитных диверсионных спецсил США Френс...,1,0,"[Николас Кейдж, Дэвид Морс, Ванесса Марсил, Гр...",[Майкл Бэй],"[Джерри Брукхаймер, Кенни Бейтс, Шон Коннери]","[Дуглас Кук, Дэвид Уайсберг, Марк Роснер]","[Триллер, Боевик]"
1,768,2,20,Южный Парк: Воображляндия,South Park: Imaginationland,<p>Парней из Южного Парка отправляют в волшебн...,1,0,"[Джонатан Киммел, Кайл Маккаллок, Кэтрин Хауэл...",[Трей Паркер],"[Пэм Брэйди, Эдриан Бирд, Эрик Стоф]","[Мэтт Стоун, Трей Паркер]","[Комедия, Фэнтези]"
2,1024,2,20,Ронин,Ronin,"<p>Хотя холодная война давно закончена, тайные...",1,0,"[Шон Бин, Роберт Де Ниро, Джонатан Прайс, Жан ...",[Джон Франкенхаймер],"[Пол Келменсон, Фрэнк Манкузо мл, Этель Уинант]","[Дэвид Мэмет, Дж. Д. Зайк]","[Триллер, Криминал, Боевик]"
3,1536,2,20,Аватар,Avatar,"Джейк Салли — бывший морской пехотинец, приков...",1,0,"[Уэс Стьюди, Стивен Лэнг, Джованни Рибизи, Зои...",[Джеймс Кэмерон],"[Джеймс Кэмерон, Джон Ландау, Брук Бретон]",[Джеймс Кэмерон],"[Боевик, Драма, Приключения, Фантастика]"
4,1792,2,20,Между,Twixt,<p>Потерявший вдохновение писатель приезжает в...,1,0,"[Эль Фаннинг, Брюс Дерн, Вэл Килмер, Дэвид Пэй...",[Френсис Форд Коппола],"[Френсис Форд Коппола, Джош Гриффит, Джим Хэйс]",[Френсис Форд Коппола],"[Триллер, Ужасы, Фэнтези]"

In [221]:
cards.isna()

,id,module_id,payment_module,title,title_eng,description,tasix,vpn,actors,directors,producers,scenarists,genres
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23518,False,False,False,False,False,False,False,False,False,False,False,False,False
23519,False,False,False,False,False,False,False,False,False,False,False,False,False
23520,False,False,False,False,False,False,False,False,False,False,False,False,False
23521,False,False,False,False,False,False,False,False,False,False,False,False,False
23522,False,False,False,False,False,False,False,False,False,False,False,False,False

In [222]:
cards['actors'] = cards['actors'].apply(collapse)
cards['directors'] = cards['directors'].apply(collapse)
cards['producers'] = cards['producers'].apply(collapse)
cards['scenarists'] = cards['scenarists'].apply(collapse)
cards['genres'] = cards['genres'].apply(collapse)

In [223]:
cards.head(5)

,id,module_id,payment_module,title,title_eng,description,tasix,vpn,actors,directors,producers,scenarists,genres
0,512,2,20,Скала,The Rock,Генерал элитных диверсионных спецсил США Френс...,1,0,"[НиколасКейдж, ДэвидМорс, ВанессаМарсил, Грего...",[МайклБэй],"[ДжерриБрукхаймер, КенниБейтс, ШонКоннери]","[ДугласКук, ДэвидУайсберг, МаркРоснер]","[Триллер, Боевик]"
1,768,2,20,Южный Парк: Воображляндия,South Park: Imaginationland,<p>Парней из Южного Парка отправляют в волшебн...,1,0,"[ДжонатанКиммел, КайлМаккаллок, КэтринХауэлл, ...",[ТрейПаркер],"[ПэмБрэйди, ЭдрианБирд, ЭрикСтоф]","[МэттСтоун, ТрейПаркер]","[Комедия, Фэнтези]"
2,1024,2,20,Ронин,Ronin,"<p>Хотя холодная война давно закончена, тайные...",1,0,"[ШонБин, РобертДеНиро, ДжонатанПрайс, ЖанРено,...",[ДжонФранкенхаймер],"[ПолКелменсон, ФрэнкМанкузомл, ЭтельУинант]","[ДэвидМэмет, Дж.Д.Зайк]","[Триллер, Криминал, Боевик]"
3,1536,2,20,Аватар,Avatar,"Джейк Салли — бывший морской пехотинец, приков...",1,0,"[УэсСтьюди, СтивенЛэнг, ДжованниРибизи, ЗоиСал...",[ДжеймсКэмерон],"[ДжеймсКэмерон, ДжонЛандау, БрукБретон]",[ДжеймсКэмерон],"[Боевик, Драма, Приключения, Фантастика]"
4,1792,2,20,Между,Twixt,<p>Потерявший вдохновение писатель приезжает в...,1,0,"[ЭльФаннинг, БрюсДерн, ВэлКилмер, ДэвидПэймер,...",[ФренсисФордКоппола],"[ФренсисФордКоппола, ДжошГриффит, ДжимХэйс]",[ФренсисФордКоппола],"[Триллер, Ужасы, Фэнтези]"

In [224]:
cards[cards['title_eng'].isnull()]

,id,module_id,payment_module,title,title_eng,description,tasix,vpn,actors,directors,producers,scenarists,genres
7,2816,2,20,Рэкетир,NaN,<p>Это биографическая история о жизни молодого...,1,0,"[МуратБисенбин, СаятИсембаев, ВладимирВдовичен...",[АканСатаев],[АканСатаев],[ТимурЖаксылыков],"[Криминал, Боевик, Драма]"
9,3584,2,20,Жила-была одна баба,NaN,<p>История частной жизни одной женщины и четве...,1,0,"[АлексейСеребряков, МаксимАверин, ВладиславАба...",[АндрейСмирнов],"[АндрейСмирнов, ЕленаПрудникова, АннаКаминская]",[АндрейСмирнов],"[Драма, История]"
10,3840,2,20,Кавказский пленник,NaN,<p>На Кавказе &#151; война. Двух раненых русск...,1,0,"[ОлегМеньшиков, СергейБодровмл., АлексейЖарков...",[СергейБодров],"[СергейБодров, КэролинКавальеро, БорисГиллер]","[СергейБодров, АрифАлиев, БорисГиллер]","[Драма, Военный]"
14,4864,2,20,Ширли-мырли,NaN,<p>Невероятная история о братьях &#151; близне...,1,0,"[ИгорьУгольников, АрменДжигарханян, ОлегТабако...",[ВладимирМеньшов],"[ВладимирДосталь, АлександрЛитвинов]","[ВиталийМоскаленко, АндрейСамсонов, ВладимирМе...",[Комедия]
32,78336,2,28,"Больше, чем кино",NaN,Молодой режиссёр безуспешно старается найти фи...,1,0,"[АружанДжазильбекова, ЖанияЖуринская, ДаниярАл...",[АскарБисембин],[АскарБисембин],"[АскарБисембин, СакенТоктагулов, ВасилийЗемзюлин]",[Комедия]
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23006,79615,10,11,Барабашка,NaN,Артём сидит дома на карантине. Поначалу ему да...,1,0,"[МаксимЛагашкин, ЕвгенийМуравич, ТимофейТрибун...",[АлександрСобичевский],"[ВалерийФедорович, АлександрПлотников, БорисХл...","[АлександрСобичевский, ОльгаДибцева, ГлебХлебн...",[Комедия]
23009,31231,10,20,Коп,NaN,"Лейтенанта полиции Колю отправляют в Америку, ...",1,0,"[ДмитрийБлохин, АннаСнаткина, НиколайКозак, Ек...","[РаддаНовикова, АлександрЦекало, АнтонБорисов,...","[АлександраРемизова, АлександрЦекало, ИванСамо...","[АлександрЦекало, АнтонБорисов, ЛикаМаксимова,...","[Комедия, Детектив]"
23012,42239,10,11,Территория,NaN,19-летний Егор Чудинов отправляется на поиски ...,1,0,"[АндрейМерзликин, АлексейРозин, КлавдияКоршуно...",[ИгорьТвердохлебов],"[АнтонЗайцев, АнтонЩукин, АртемЛогинов]",[АнастасияСамойлова],"[Триллер, Драма]"
23014,45311,10,20,Нагиев на каникулах,NaN,"Карантин прошёл и случилось то, чего так долго...",1,0,"[ДмитрийНагиев, ЕлизаветаМоряк, АртемСуджян, Р...",[СарикАндреасян],"[СарикАндреасян, АртемСуджян]",[ЛеонидМарголин],[Комедия]
23015,48383,10,20,Угрюм-река,NaN,История трех поколений семьи Громовых. Главный...,0,0,"[АлександрБалуев, БорисКаморзин, ЮлияПересильд...",[ЮрийМороз],"[КонстантинЭрнст, ДенисЕвстигнеев]","[МарияСапрыкина, ВячеславШишков]",[Драма]

In [225]:
cards['title_eng'].fillna(cards['title'], inplace=True)
cards[cards['title_eng'].isnull()]

Empty DataFrame
Columns: [id, module_id, payment_module, title, title_eng, description, tasix, vpn, actors, directors, producers, scenarists, genres]
Index: []

In [226]:
cards['title_new'] = cards['title'].apply(lambda x:x.split(' '))
cards['title_eng_new'] = cards['title_eng'].apply(lambda x:x.split(' '))

In [227]:
import re

def remove_html(string):
    regex = re.compile(r'<[^>]+>')
    
    return regex.sub('', string)

In [228]:
cards['description'].fillna(cards['title'], inplace=True)

In [229]:
cards['description'] = cards['description'].apply(remove_html)
cards['description'] = cards['description'].apply(lambda x:x.split())

In [230]:
cards.head(5)

,id,module_id,payment_module,title,title_eng,description,tasix,vpn,actors,directors,producers,scenarists,genres,title_new,title_eng_new
0,512,2,20,Скала,The Rock,"[Генерал, элитных, диверсионных, спецсил, США,...",1,0,"[НиколасКейдж, ДэвидМорс, ВанессаМарсил, Грего...",[МайклБэй],"[ДжерриБрукхаймер, КенниБейтс, ШонКоннери]","[ДугласКук, ДэвидУайсберг, МаркРоснер]","[Триллер, Боевик]",[Скала],"[The, Rock]"
1,768,2,20,Южный Парк: Воображляндия,South Park: Imaginationland,"[Парней, из, Южного, Парка, отправляют, в, вол...",1,0,"[ДжонатанКиммел, КайлМаккаллок, КэтринХауэлл, ...",[ТрейПаркер],"[ПэмБрэйди, ЭдрианБирд, ЭрикСтоф]","[МэттСтоун, ТрейПаркер]","[Комедия, Фэнтези]","[Южный, Парк:, Воображляндия]","[South, Park:, Imaginationland]"
2,1024,2,20,Ронин,Ronin,"[Хотя, холодная, война, давно, закончена,, тай...",1,0,"[ШонБин, РобертДеНиро, ДжонатанПрайс, ЖанРено,...",[ДжонФранкенхаймер],"[ПолКелменсон, ФрэнкМанкузомл, ЭтельУинант]","[ДэвидМэмет, Дж.Д.Зайк]","[Триллер, Криминал, Боевик]",[Ронин],[Ronin]
3,1536,2,20,Аватар,Avatar,"[Джейк, Салли, —, бывший, морской, пехотинец,,...",1,0,"[УэсСтьюди, СтивенЛэнг, ДжованниРибизи, ЗоиСал...",[ДжеймсКэмерон],"[ДжеймсКэмерон, ДжонЛандау, БрукБретон]",[ДжеймсКэмерон],"[Боевик, Драма, Приключения, Фантастика]",[Аватар],[Avatar]
4,1792,2,20,Между,Twixt,"[Потерявший, вдохновение, писатель, приезжает,...",1,0,"[ЭльФаннинг, БрюсДерн, ВэлКилмер, ДэвидПэймер,...",[ФренсисФордКоппола],"[ФренсисФордКоппола, ДжошГриффит, ДжимХэйс]",[ФренсисФордКоппола],"[Триллер, Ужасы, Фэнтези]",[Между],[Twixt]

In [231]:
# cards['tags'] = cards['description'] + cards['genres'] + cards['countries'] + cards['actors'] + cards['directors'] + cards['producers'] + cards['scenarists']
cards['tags'] = cards['title_new'] + cards['title_eng_new'] + cards['description'] + cards['genres'] + cards['actors'] + cards['directors'] + cards['producers'] + cards['scenarists']

In [232]:
cards.head(3)

,id,module_id,payment_module,title,title_eng,description,tasix,vpn,actors,directors,producers,scenarists,genres,title_new,title_eng_new,tags
0,512,2,20,Скала,The Rock,"[Генерал, элитных, диверсионных, спецсил, США,...",1,0,"[НиколасКейдж, ДэвидМорс, ВанессаМарсил, Грего...",[МайклБэй],"[ДжерриБрукхаймер, КенниБейтс, ШонКоннери]","[ДугласКук, ДэвидУайсберг, МаркРоснер]","[Триллер, Боевик]",[Скала],"[The, Rock]","[Скала, The, Rock, Генерал, элитных, диверсион..."
1,768,2,20,Южный Парк: Воображляндия,South Park: Imaginationland,"[Парней, из, Южного, Парка, отправляют, в, вол...",1,0,"[ДжонатанКиммел, КайлМаккаллок, КэтринХауэлл, ...",[ТрейПаркер],"[ПэмБрэйди, ЭдрианБирд, ЭрикСтоф]","[МэттСтоун, ТрейПаркер]","[Комедия, Фэнтези]","[Южный, Парк:, Воображляндия]","[South, Park:, Imaginationland]","[Южный, Парк:, Воображляндия, South, Park:, Im..."
2,1024,2,20,Ронин,Ronin,"[Хотя, холодная, война, давно, закончена,, тай...",1,0,"[ШонБин, РобертДеНиро, ДжонатанПрайс, ЖанРено,...",[ДжонФранкенхаймер],"[ПолКелменсон, ФрэнкМанкузомл, ЭтельУинант]","[ДэвидМэмет, Дж.Д.Зайк]","[Триллер, Криминал, Боевик]",[Ронин],[Ronin],"[Ронин, Ronin, Хотя, холодная, война, давно, з..."

In [233]:
# cards_new = cards.drop(columns=['description','genres','countries','actors','directors', 'producers', 'scenarists'])
cards_new = cards.drop(columns=['description','genres', 'actors','directors', 'producers', 'scenarists', 'title_new', 'title_eng_new'])

In [234]:
cards_new['tags'] = cards_new['tags'].apply(lambda x: " ".join(x))
cards_new.head()

,id,module_id,payment_module,title,title_eng,tasix,vpn,tags
0,512,2,20,Скала,The Rock,1,0,Скала The Rock Генерал элитных диверсионных сп...
1,768,2,20,Южный Парк: Воображляндия,South Park: Imaginationland,1,0,Южный Парк: Воображляндия South Park: Imaginat...
2,1024,2,20,Ронин,Ronin,1,0,Ронин Ronin Хотя холодная война давно закончен...
3,1536,2,20,Аватар,Avatar,1,0,Аватар Avatar Джейк Салли — бывший морской пех...
4,1792,2,20,Между,Twixt,1,0,Между Twixt Потерявший вдохновение писатель пр...

In [235]:
cards_new.count()

id                23523
module_id         23523
payment_module    23523
title             23523
title_eng         23523
tasix             23523
vpn               23523
tags              23523
dtype: int64

In [236]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(stop_words='english')

#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(cards_new['tags'])

tfidf_matrix.shape

(23523, 310509)

In [237]:
tfidf

TfidfVectorizer(stop_words='english')

In [238]:
# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel
from numpy import linalg as LA

#Construct a reverse map of indices and movie titles
indices = pd.Series(cards.index, index=cards_new['id']).drop_duplicates()

# Function that takes in movie title as input and outputs most similar movies
def get_recommendations(cardId):
    # Get the index of the movie that matches the title
    idx = indices[cardId]

    # Get the pairwsie similarity scores of all movies with that movie
    # cosine_sim = (tfidf_matrix @ tfidf_matrix.T)
    cosine_sim = linear_kernel(tfidf_matrix[idx], tfidf_matrix)
    
    sim_scores = np.array([[key, value] for key, value in enumerate(cosine_sim[0])])

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:10]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    print(cards_new[['id', 'title']].iloc[movie_indices])

In [239]:
indices.head()

id
512     0
768     1
1024    2
1536    3
1792    4
dtype: int64

In [240]:
get_recommendations(36516)

          id                                              title
14571  39204                                  Yulduzlar jangi 9
11457   8396                   Звёздные войны: Пробуждение силы
6323   34416                              Миссия: невыполнима 3
5475   13409                   Звёздные Войны: Последние джедаи
17007  11500                        Звёздные войны: Силы судьбы
8773    1181                                            Супер 8
8182    8338  Звёздные войны: Эпизод 5 – Империя наносит отв...
16527  78745               ЛЕГО Звёздные войны: Летние каникулы
1010     531                                      Звездный путь

In [242]:
import pickle

pickle.dump(cards_new, open(f'{dataset_path}movie_list.pkl','wb'))
pickle.dump(tfidf_matrix, open(f'{dataset_path}tfidf_matrix.pkl','wb'))